@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*----------Color-----------*/
$bgcolor : #fcfcfc;
$gradientbg : linear-gradient(-45deg, #008357, #18c5a8);
$boxshadow1 : 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
$boxshadow2 : 0px 20px 50px -10px rgba(0, 26, 110, 0.1);
$boxshadow3 : 0px 20px 50px -10px rgba(0, 9, 34, 0.5);
$maincolor : #066A7E;
$maincolor2 : #2B0E7B;
$secondcolor : #002044;
$linkcolor : #150733;
$linkcolor2 : #3f1b88;
$linkcolor3 : #9a7af3;
$fontcolor : #464646;

@import 'button';
@import 'slider';

.maincolor {
  color: $maincolor;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $bgcolor;
}

.light-section {
  padding: 110px 0px;
  overflow: hidden;
}

.grey-section {
  background: #f2f5f4;
  padding: 110px 0px;
  overflow: hidden;
}

a {
  display: inline-block;
  transition: all .15s ease-out;
  color: $linkcolor;
  text-decoration: none !important;
  &:hover {
    color: $linkcolor2;
  }
  &:focus {
    box-shadow: none !important;
  }
}

button:focus, a:focus, input:focus {
  outline: none !important;
}


@import 'navbar';

@import 'header';


/*-------------------About-----------------------*/
.about {
  position: relative;
  color: $fontcolor;
  h1 {
    font-size: 40px;
    line-height: 1.4;
    color: $linkcolor;
  }
  p {
    line-height: 1.7;
    margin: 32px 0;
  }
  ul li {
    list-style: none;
    margin-bottom: 8px;
    span {
      margin-right: 12px;
      font-size: 1.2em;
      color: $linkcolor;
    }
  }
  img {
    width: 100%;
  }
}

/*-------------------Jumbo-----------------------*/
.jumbo {
  position: relative;
  overflow: unset;
  z-index: 1;
  .bottom-bg {
    position: absolute;
    width: 100%; height: 50%;
    bottom: 0; left: 0;
    z-index: -1;
  }
  .item-wrapper {
    box-shadow: $boxshadow1;
    background-color: $maincolor2;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 50px 90px;
    @media screen and (max-width: 992px){
      padding: 50px 20px;
    }
    margin: 0;
    a {
      font-size: 20px;
      font-weight: 700;
      padding: 20px 50px;
      @media screen and (max-width: 992px){
        display: block;
      }
    }
  }
}


/*-------------------data-----------------------*/
.data {
  background-color: $secondcolor;
  img {
    height: 70px;
  }
  h1 {
    font-size: 40px;
  }
  h5 {
    font-weight: 600;
  }
  .mr-4 {
    margin-right: 32px !important;
  } 
}

/*-------------------data-----------------------*/
.services {
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    content: '';
    height: 450px;
    width: 50%;
    top: 0; left: 0;
    background-color: #f2f5f4;
  }
  h1 {
    color: $linkcolor;
  }
  @media screen and (min-width: 992px){
    .col-lg-4 {
      position: relative;
      &:nth-child(2) {
        top: -100px;
      }
      &:nth-child(3) {
        top: -200px;
      }
    }
  }
  
  .item-wrapper {
    background: white;
    padding: 60px 40px;
    margin-top: 70px;
    box-shadow: $boxshadow1;
    transition: all .1s ease;
    h4 {
      margin: 30px 0 20px 0;
      color: #484848;
      font-weight: 800;
    }
    p {
      color: #757575;
      margin-bottom: 20px;
    }
    a {
      font-weight: 800;
      color:  #484848;
      &:hover {
        color: $linkcolor2;
      }
    }
    .img-wrapper {
      width: 80px; height: 80px;
      border-radius: 100px;
      background-color: #E7E9EF;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50px; height: auto;
      }
    }
    &:hover {
      background-color: $maincolor;
      color: white !important;
      a, p, h4 {
        color: white;
      }
    }
  }
}

/*---------------Services------------------*/
.about-2 {
  padding: 0;
  height: 620px;
  overflow: unset;
  &::before {
    content: '';
    width: 50%;
    height: 100%;
    background: $maincolor2;
    position: absolute;
    left: 0; top: 0;
  }
  .content {
    padding-top: 110px;
    padding-bottom: 110px;
    z-index: 2;
    .btn-green-inverse {
      color: white;
      &:hover {
        color: #00A785;
      } 
      &::before {
        border-color: white;
      }
      &::after {
        background: white;
      }
    }
    h1 {
      font-weight: 900;
      font-size: 40px;
    }
  }
  .item-wrapper {
    position: absolute;
    bottom: -60px; left: -100px;
    min-width: inherit;
    margin-right: -15px; margin-left: -15px;
    display: flex;
    align-items: flex-start;
    .item {
      background-color: white;
      padding: 40px;
      margin: 0px 15px;
      position: relative;
      border-radius: 20px;
      box-shadow: $boxshadow1;
      h1, h2, h3 {
        font-weight: 900;
      }
      &:nth-child(2) {
        top: -120px;
      }
      &:nth-child(3) {
        top: -40px;
      }
    }
  }
}

/*---------------Works------------------*/
#works {
  position: relative;
  padding-top: 150px; padding-bottom: 110px;
  h1 {
    color: $linkcolor;
    font-weight: 800;
  }
  .nav-link:hover {
    color: $linkcolor2 !important;
    font-weight: 600;
  }
  .works-wrapper {
    position: relative;
    margin-top: 60px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 40px 70px -70px rgba(2, 93, 168, 0.781), 0px 40px 80px -70px rgba(5, 150, 175, 0.2);
    transform: translateY(0);
    transition: all .3s ease;
    &:hover {
      box-shadow: 0px 50px 70px -70px rgba(2, 93, 168, 0.781), 0px 40px 80px -70px rgba(5, 150, 175, 0.2);
      transform: translateY(-10px);
    }  
    .work {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
  } 
  .filter-gallery {
    cursor: pointer;
  }  
  .work-items {
    position: relative;
    height: 500px;
  }
  .work-items .work-item {
    position: absolute;
    transition: all .5s ease;
  }
  .work-items .none {
    opacity: 0;
    transform: scale(0);
  }
  .work-items .active {
    opacity: 1;
    transform: scale(1);
    display: block;
  }
  .work-hover {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: $linkcolor2;
    color: white;
    opacity: 0;
    transition: all .3s ease;
    &:hover {
      opacity: .8;
    }
  }
  button {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
  }
}

/*-------------------Pricing--------------------*/
.pricing {
  .title {
    text-align: center;
    margin: auto;
    margin-bottom: 65px;
    color: $linkcolor;
    font-weight: 800;
  }
  .item-wrapper {
    background-color: white;
    padding: 70px 45px;
    box-shadow: $boxshadow2;
    transition: all .3s ease;
    @media screen and (max-width: 992px){
      margin-bottom: 60px;
    }
    &:hover {
      box-shadow: $boxshadow1;
    }
    h1 {
      margin-top: 30px;
      margin-bottom: 15px;
      font-weight: 800;
      color: $linkcolor;
    }
    p {
      color: #757575;
    }
    .price {
      color: #484848;
      font-size: 70px;
      line-height: 1;
      margin: 30px 0 40px 0;
      font-weight: 800;
      span {
        font-size: 28px;
        font-weight: 700;
      }
    }
    a {
      padding: 15px 50px;
      font-weight: 800;
    }
  }
}

.pricing2 {
  .title {
    color: $linkcolor;
  }
  padding: 140px 0;
  .item-wrapper {
    background-color: white;
    padding: 90px 45px;
    box-shadow: $boxshadow2;
    transition: all .3s ease;
    @media screen and (max-width: 992px){
      margin-bottom: 60px;
    }
    &:hover {
      box-shadow: $boxshadow1;
    }
    h1 {
      margin-bottom: 15px;
      font-weight: 800;
      color: $linkcolor;
    }
    p {
      color: #757575;
    }
    .price {
      color: #484848;
      font-size: 70px;
      line-height: 1;
      margin: 30px 0 40px 0;
      font-weight: 800;
      span {
        font-size: 28px;
        font-weight: 700;
      }
    }
    a {
      padding: 15px 50px;
      font-weight: 800;
    }
  }
  .col-lg-4 {
    &:nth-child(2) {
      top:-30px;
    }
    &:nth-child(3) {
      top: 30px;
    }
  }
}

/*-------------------Explore---------------------*/
.subscribe {
  overflow: unset !important;
  position: relative;
  padding: 0 0;
  padding: 70px 0;
  .item-wrapper {
    padding: 70px 0;
    background: $maincolor2;
    border-radius: 25px;
    box-shadow: $boxshadow1;
    h1 {
      margin: auto;
      font-weight: 800;
      color: white;
      text-align: center;
    }
    .subscribe-email {
      box-shadow: $boxshadow3;
      display: flex;
      justify-content: center;
      background-color: white;
      width: 60%;
      @media screen and (max-width: 992px){
        width: 85%;
      }
      height: 60px;
      padding: 10px;
      border-radius: 100px;
      margin-top: 35px;
      span {
        padding-left: 20px;
        font-size: 1.6em;
        color: rgb(179, 179, 179);
      }
      input {
        width: 100%;
        border: none;
        padding: 0 20px 0 15px;
        font-weight: 700;
        color: rgb(100, 100, 100);
        &::placeholder {
          color: rgb(179, 179, 179);
        }
      }
      button {
        display: inline-block;
        border: none;
        padding: 10px 20px;
        width: 200px;
        border-radius: 100px;
        color: white;
        font-weight: 700;
      }
    }
  }
}

/*------------------teams------------------*/
.teams {
  position: relative;
  &::before {
    content: '';
    background: #f2f5f4;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 50%; height: 510px;
  }
  h1 {
    color: $linkcolor;
    font-weight: 900;
  }
  p {
    color: $fontcolor;
  }
  .item-wrapper {
    text-align: center; 
    img {
      width: 100%;
      box-shadow: $boxshadow1;
      border-radius: 10px;
    }
    h5 {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 800;
      color: #484848;
    }
    h6 {
      margin: auto;
      color: #757575;
      font-weight: 600;
    }
  }
}

/*------------------brands------------------*/
.brands {
  padding-bottom: 80px;
}

/*------------------teams------------------*/
.testimony {
  background-color: $maincolor;
  .title {
    color: white;
    font-weight: 800;
  }
  .item-wrapper {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #9c9c9c;
      width: 50px; height: 50px;
      border-radius: 100px;
      margin-right: 20px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    h6 {
      color: #757575;
    }
    h6 b {
      font-weight: 800;
      color: #484848;
    }
    p {
      color: $fontcolor;
    } 
  }
}

.testimony2 {
  h1 {
    color: $linkcolor;
    font-weight: 900;
    text-align: center;
  }
  .item-left {
    background-color: #C8C8C8;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 100%; height: 550px;
  }
  .image {
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .content {
    .item-wrapper {
      box-shadow: $boxshadow1;
      background-color: white;
      border-radius: 15px;
      padding: 40px;
      min-height: 265px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9c9c9c;
        width: 50px; height: 50px;
        border-radius: 100px;
        margin-right: 20px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      h6 {
        color: #757575;
      }
      h6 b {
        font-weight: 800;
        color: #484848;
      }
      p {
        color: $fontcolor;
      }
      &:nth-child(2) {
        @media screen and (min-width: 992px){
          margin-top: 30px;
          position: relative;
          left: -194px;  
        }
      } 
    }
  }
}

/*-------------------Blog--------------------*/

.blog {
  margin-bottom: 0;
  .card {
    border: none;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 20px 30px 3px rgba(0, 77, 77, 0.1);
    transition: all .15s ease-out;
  }
  
  .card-body {
    padding: 25px;
  }
  
  .card-title {
    margin-top: 10px; margin-bottom: 15px;
    font-weight: 700;
  }
  
  .card-text {
    margin-bottom: 25px;
  }
  
  .icon {
    overflow: hidden;
    width: 42px; height: 42px;
    display: inline-block;
    background-color: #afc0c2;
    border-radius: 20px;
    margin-right: 20px;
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform .2s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 30px 30px 3px rgba(0, 77, 77, 0.15);
  }
  
  .card:hover img {
    transform: scale(1.03);
  }
}



/*-------------------Footer--------------------*/
footer {
  background-color: #07001A;
  color: rgba(255, 255, 255, 0.9);
  .top-footer {
    padding: 70px 0;
  }
  
  .bottom-footer {
    border-top: 2px solid rgba(255, 255, 255, 0.137);
    padding: 20px 0;
  }
  
  .website-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
    color: #FFCE2E;
  }
  
  h4 {
    color: rgba(255, 255, 255, 1);
  }
  
  .tagline {
    line-height: 1.4;
  }
  
  .number {
    margin-top: 15px
  }
  
  ul {
    list-style: none;
    text-decoration: none;
    padding: 0; margin: 0;
  }
  
  .footer-list .icon {
    position: relative;
    top: 5px;
    font-size: 24px;
    margin-right: 18px;
  }
  
  .footer-list li a {
    position: relative;
    display: inline-block;
    color: inherit !important;
    margin-bottom: 0.8em;
  }
  
  .footer-list li a:hover {
    color: #FFCE2E !important;
  }
  
  .footer-list li a:before {
    content: '';
    background: #FFCE2E;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    content: '';
    width: 100%;
    height: 2px;
    transition: all .2s ease;
  }
  
  .footer-list li a:hover:before {
    transform: scaleX(1);
  }
  
  .subscribe-form {
    display: flex;
    background: #00000070;
    padding: 8px;
    justify-content: space-between;
  }
  .subscribe-form input {
    color: white;
    background: none;
    height: 46px;
    padding: 15px;
    border: none;
    flex-grow: 4;
  }
  .subscribe-form button {
    border: none;
    background: $linkcolor2;
    color: white;
    text-align: center;
    flex-grow: 1;
  }
  
  .sosmed img {
    width: 33px;
  }
  
  .sosmed li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px; height: 35px;
    color: inherit;
    border: 1.7px solid;
    margin-left: 30px; margin-right: 0;
    transition: all .1s ease;
  }
  
  .sosmed li a:hover {
    background-color: #FFCE2E;
    border-color: #FFCE2E;
    color: #001141;
  }
}





